.o_calendar_days {
	font-size: 16px;
	height: 40px;
}

.o_calendar_days .o_weekend {
	background-color: #e9ecef;
}

.o_calendar_days .o_day {
	border: 2px solid #65daba;
	border-radius: 0.5rem;
	cursor: pointer;
}

.o_calendar_days .o_day.dropdown {
	padding: 0px;
}

.o_calendar_days .o_day .o_slots_dropdown {
	padding: 8px;
}

.o_calendar_days .o_mute_day {
	opacity: 0.5;
}

.o_calendar_days .o_today {
	position: relative;
	content: "";
}
.o_today > div {
	border-bottom: 2px solid #000;
}

.o_website_calendar ul.wizard {
	padding: 0;
	margin-top: 20px;
	list-style: none outside none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.065);
}

.o_website_calendar ul.wizard li {
	border: 1px solid #d4d4d4;
	border-right-width: 0;
	position: relative;
	float: left;
	padding: 0 10px 0 20px;
	margin: 0;
	line-height: 38px;
	background: #fbfbfb;
}

.o_website_calendar ul.wizard li .chevron {
	position: absolute;
	top: 0;
	right: -10px;
	z-index: 1;
	display: block;
	border: 20px solid transparent;
	border-right: 0;
	border-left: 10px solid #d4d4d4;
}

.o_website_calendar ul.wizard li .chevron:before {
	position: absolute;
	top: -20px;
	right: 1px;
	display: block;
	border: 20px solid transparent;
	border-right: 0;
	border-left: 10px solid #fbfbfb;
	content: "";
}

.o_website_calendar ul.wizard li.text-success {
	background: #f3f4f5;
}

.o_website_calendar ul.wizard li.text-success .chevron:before {
	border-left: 10px solid #f5f5f5;
}

.o_website_calendar ul.wizard li.text-primary {
	background: #f1f6fc;
}

.o_website_calendar ul.wizard li.text-primary .chevron:before {
	border-left: 10px solid #f1f6fc;
}

.o_website_calendar ul.wizard li:first-child {
	padding-left: 15px;
	border-radius: 4px 0 0 4px;
}

.o_website_calendar ul.wizard li:last-child {
	border-radius: 0 4px 4px 0;
	border-right-width: 1px;
}

.o_website_calendar ul.wizard li:last-child .chevron {
	display: none;
}

.app_calendar > table {
	border-collapse: separate;
}

.cp {
	cursor: pointer;
}

.h_over:hover {
	text-decoration: none;
	background: #ddd;
}
.session_alert_msg{
height: 190px;
margin: 15% 15% 68% 15%;
background: white;
font-size: 2.5vw;
transition: 1s margin;
}
.session_alert_block{
position: absolute;
background: #00000078;
width: 100%;
top: 0;
left: 0;
z-index: 1;
}
.session_alert_close{

}

@media only screen and (max-width: 768px){
.session_alert_msg{
height: 190px;
margin: 15% 15% 68% 15%;
background: white;
font-size: 3vw;
}
.session_alert_block{
position: absolute;
background: #00000078;
width: 100%;
top: 0;
left: 0;
z-index: 1;
}
.session_alert_close{

}


}

@media only screen and (max-width: 575px){
.session_alert_msg{
height: 190px;
margin: 30% 15% 68% 15%;
background: white;
font-size: 3.5vw;
}
.session_alert_block{
position: absolute;
background: #00000078;
width: 100%;
top: 0;
left: 0;
z-index: 1;
}
.session_alert_close{

}


}
@media only screen and (max-width: 425px){
.session_alert_msg{
height: 190px;
margin: 30% 15% 68% 15%;
background: white;
font-size: 4vw;
}
.session_alert_block{
position: absolute;
background: #00000078;
width: 100%;
top: 0;
left: 0;
z-index: 1;
}
.session_alert_close{

}


}
@media only screen and (max-width: 375px){
.session_alert_msg{
height: 190px;
margin: 35% 15% 68% 15%;
background: white;
font-size: 5vw;
}
.session_alert_block{
position: absolute;
background: #00000078;
width: 100%;
top: 0;
left: 0;
z-index: 1;
}
.session_alert_close{

}


}
@media only screen and (max-width: 320px){
.session_alert_msg{
height: 190px;
margin: 40% 15% 68% 15%;
background: white;
font-size: 5vw;
}
.session_alert_block{
position: absolute;
background: #00000078;
width: 100%;
top: 0;
left: 0;
z-index: 1;
}
.session_alert_close{

}


}